// *************************************
//
// Button
//
// *************************************

// Buttons
//
// Button styles used in the styleguide
//
//
// default       - Default button
// .is-disabled  - Disabled button
// .button--hard - Hard button
// .button--soft - Soft button
// .button--full - Full width button
//
// markup:
// <button class="button {$modifiers}">Button</button>
//
// Styleguide 2.0

.button {
	display: inline-block;
	vertical-align: middle;
	font: inherit;
	cursor: pointer;
	border: none;
	text-align: center;
	margin: 0;
	padding: 8px 16px;
	border-radius: 3px;
	background-color: $color-highlight;

	&, 
	&:hover,
	&:active, 
	&:focus {
		text-decoration: none;
		color: #fff;
	}

	&:hover,
	&:active, 
	&:focus {
		background-color: $color-highlight-darken;
	}
}


// -------------------------------------
// Modifiers
// -------------------------------------

.button--soft {
	border-radius: 200px;
}

.button--hard {
	border-radius: 0;
}

.button--full {
	width: 100%;
}

// -------------------------------------
// States
// -------------------------------------

.button {
	&[disabled="disabled"],
	&.is-disabled {
	    pointer-events: none;
	    cursor: default;
	    background-color: fade-out($color-copy, 0.85);
	    color: fade-out(white, 0.4);
	}
}
