// *************************************
//
// Media
//
// *************************************

// Media
//
// Placer du contenu texte et une image
// côte à côte (ou l'un au-dessus de l'autre)
// en responsive.
//
// default            - Default media
// .media--rev        - Reversed (right aligned) media
// .media--responsive - Responsive media
//
// markup:
// <div class="media {$modifiers}">
//   <img class="media-img" src="http://placehold.it/140x100">
//   <p class="media-body">Lorem ipsum dolor sit amet…</p>
// </div>
//
// Styleguide 3.0

.media {
    display: block;
    @include clearfix;
}

// -------------------------------------
// Modifiers
// -------------------------------------

.media--rev {
    > .media-img {
        float: right;
        margin-right: 0;
        margin-left: $base-whitespace;
    }
}

@include respond-to($bp-tablet, max-width) {
    .media--responsive {
        > .media-img {
            float: none;
            margin-right: 0;
            margin-bottom: $base-whitespace;
            margin-left: 0;
        }
    }
}

// -------------------------------------
// Submodules
// -------------------------------------

.media-img {
    float: left;
    margin-right: $base-whitespace;

    > img {
        display: block;
    }
}

.media-body {
    overflow: hidden;
    display: block;

    &, > :last-child {
        margin-bottom: 0;
    }
}