a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #77d8c1;
}

.media-body > .pseudo-class-last-child {
  margin-bottom: 0;
}

.button.pseudo-class-hover,
.button.pseudo-class-active,
.button.pseudo-class-focus {
  text-decoration: none;
  color: #fff;
}

.button.pseudo-class-hover,
.button.pseudo-class-active,
.button.pseudo-class-focus {
  background-color: #2B8B74;
}