// *************************************
//
// Variables
// Fonts, Variables
//
// *************************************

// Colors
//
// This section describes base colors
//
// Styleguide 1.0

// Main colors
//
// This section describes base colors
//
// $color-copy      - Text color
// $color-highlight - Highlight color
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$color-copy: #464646;
$color-highlight: #3dc7a6;
$color-tooltip: $color-copy;

// Colors variations
//
// This section describes colors based on main colors
//
// .color-highlight-soften - Highlight color softened
// .color-highlight-darken - Highlight color darkened
//
// markup:
// <div class="styleguide-color {$modifiers}">${$modifiers}</div>
//
// Styleguide 1.1.1

// ----- Color helpers ----- //

@function tint($color, $percent) {
    @return mix(white, $color, $percent);
}

@function shade($color, $percent) {
    @return mix(black, $color, $percent);
}

$color-highlight-soften: tint($color-highlight, 30%);
$color-highlight-darken: shade($color-highlight, 30%);

.color-highlight-soften { background-color: $color-highlight-soften; }
.color-highlight-darken { background-color: $color-highlight-darken; }


// ----- Base Content ----- //

$base-maxWidth: 62.5em; // ~1000px
$base-fontSize: 16px;
$base-lineHeight: 1.4;
$base-whitespace: 20px;
$base-whitespace-xs: 0.25 * $base-whitespace;
$base-whitespace-s: 0.5 * $base-whitespace;
$base-whitespace-l: 2 * $base-whitespace;
$base-whitespace-xl: 4 * $base-whitespace;


// ----- Fonts ----- //

$ff-copy: sans-serif;
$ff-heading: sans-serif;


// ----- Breakpoints ----- //

$bp-tablet: 640px;


// ----- Z-index ----- //

$z-index-tooltip: 1000;
$z-index-modal: 2000;

