// *************************************
//
// Helpers
// Functions, Mixins, Animations
//
// *************************************

// -------------------------------------
// Functions
// -------------------------------------

// ----- rem ----- //

@function rem($font-size) {
    $rem-size: $font-size / $base-fontSize;
    @return #{$rem-size} rem;
}

// -------------------------------------
// Mixins
// -------------------------------------

// ----- rem ----- //

@mixin rem($font-size, $line-height: auto) {
    font-size: $font-size;
    font-size: ($font-size / $base-fontSize) * 1rem;

    @if $line-height == auto {
        line-height: ceil($font-size / $base-lineHeight) * ($base-lineHeight / $font-size);
    }
    @else {
         line-height: $line-height;
    }
}

// ----- Respond-to ----- //

@mixin respond-to($val, $query: min-width, $media: screen) {
    @media #{$media} and ($query: $val) {
        @content;
    }
}

// ----- Clear fix ----- //

@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

// ----- Outer container ----- //

@mixin outer-container {
    max-width: $base-maxWidth;
    margin-left: auto;
    margin-right: auto;

    @include clearfix;
}

// ----- Color helpers ----- //

@function tint($color, $percent) {
    @return mix(white, $color, $percent);
}

@function shade($color, $percent) {
    @return mix(black, $color, $percent);
}